# data packet
data/
.idea/
save_model
model_state
model_state_constant
./U-net/model_state
.vscode/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/

# Jupyter Notebook
.ipynb_checkpoints





