# data packet
data/
.idea/
save_model

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/

# Jupyter Notebook
.ipynb_checkpoints





